<launch>
  <arg name="bot_name" default="roomba"/>
  <arg name="world_name" default="aiitra_world_1.world"/>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="extra_gazebo_args" default="--verbose"/>

  <env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find aiitra)/src/mesh"/>
  <env name="GAZEBO_RESOURCE_PATH" value="${GAZEBO_RESOURCE_PATH}:$(find aiitra)/src/mesh"/>
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!--arg name="world_name" value="$(find aiitra)/src/worlds/aiitra_world_1.world"/ -->
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="extra_gazebo_args" value="$(arg extra_gazebo_args)"/>
  </include>


  <group ns="$(arg bot_name)1">

    <arg name="_ns" value="$(arg bot_name)1"/>
    <param name="botName" type="str" value="$(arg bot_name)1"/>

    <include file="$(find aiitra)/src/launch/spawn_bot.launch">
      <arg name="bot_name" value="$(arg bot_name)" />
      <arg name="namespace" value="$(arg _ns)" />
      <arg name="y" value="-1.0"/>
    </include>

    <rosparam file="$(find omni3ros_pkg)/config/roomba1.yaml" command="load"/>
    <rosparam file="$(find omni3ros_pkg)/config/roomba2.yaml" command="load"/>

    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/$(arg _ns)" 
    args="--namespace=/$(arg _ns)
    joint_state_controller
    left_joint_velocity_controller
    back_joint_velocity_controller
    right_joint_velocity_controller
    "/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

    <node name="odom_publisher" type="odomPub" pkg="aiitra" />
    <!--node name="pid_control" type="pid_controller" pkg="aiitra" /-->

  </group>

  <group ns="$(arg bot_name)2">

    <arg name="_ns" value="$(arg bot_name)2"/>
    <!--param name="botName" type="str" value="$(arg bot_name)2"/-->
  
    <include file="$(find aiitra)/src/launch/spawn_bot.launch">
      <arg name="bot_name" value="$(arg bot_name)" />
      <arg name="namespace" value="$(arg _ns)" />
      <arg name="y" value="1.0"/>
    </include>

    <rosparam file="$(find omni3ros_pkg)/config/roomba1.yaml" command="load"/>
    <rosparam file="$(find omni3ros_pkg)/config/roomba2.yaml" command="load"/>

    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/$(arg _ns)" 
    args="--namespace=/$(arg _ns)
    joint_state_controller
    left_joint_velocity_controller
    back_joint_velocity_controller
    right_joint_velocity_controller
    "/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

    <node name="odom_publisher" type="odomPub" pkg="aiitra" />
    <node name="pid_control" type="pid_controller" pkg="aiitra" />

  </group>

</launch>